Repository iscpatricio92/fisiolaura-reyes-clone-enhance: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --check

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix --quiet", "prettier --check"],
  "*.{json,css,md}": ["prettier --check"]
}

Implement sitemap generation script and update package.json build process to include sitemap generation. Update sitemap.xml with new lastmod dates for improved SEO.
  package.json
  public/sitemap.xml
  scripts/generate-sitemap.js
Due: eslint --fix --quiet, prettier --check

Add security headers in index.html for enhanced protection and create pre-push hook to verify build success before pushing changes.
  .husky/pre-push
  index.html
Due: none

Remove X-Frame-Options meta tag from index.html to streamline security settings while maintaining essential security headers.
  index.html
  package.json
Due: prettier --check

Add caching strategies for analytics and external assets in Vite config
  package.json
  vite.config.ts
Due: eslint --fix --quiet, prettier --check

Add Vercel configuration for caching and rewrites
  src/lib/analytics.ts
  vercel.json
Due: eslint --fix --quiet, prettier --check

chore: remove GitHub Pages workflow (migrated to Vercel)
  .github/workflows/deploy.yml
  package.json
Due: prettier --check

Refactor build process and update sitemap lastmod dates
  package.json
  public/sitemap.xml
  scripts/generate-404.js
  vercel.json
  vite.config.ts
Due: eslint --fix --quiet, prettier --check
